*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;

}
ul,
ol,
li{
    list-style: none;
}
img{
    vertical-align: top;

}
h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: inherit;
    font-size: inherit;
}
html,
body{
    height: 100%;
    line-height: 1.56;
    background: #FFFFFF;
    font-size: 18px;
    color: #6B7280;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
[class*="__container"]{
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 15px;
}
/*------------------------------------------varibel------------------------------------------------------------------------------------------------------*/
$maxWidth: 1210;
/*-------------------------------------------adaptivValue-------------------------------------------------------------------------------------*/
@mixin adaptivValue ($property, $stratSize, $miniSize){
    $addSize: $stratSize - $miniSize;
    #{$property}: calc(#{$miniSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
}

/*--------------------header-------------------------------------------------*/
.header {

    &__container {
        padding-top: 5px;
        padding-bottom: 5px;
        display: flex;
        justify-content: space-between;
        min-height: 236px;
        align-items: center;
        @media (max-width: 673.97px){
            @include adaptivValue(min-height, 236 , 110)
        }
        @media (max-width: 499.97px){
            gap: 60px;
        }
    }

    &__logo {
  
    }

    &__menu {
    }
}
.menu {

    &__body {
        
    }

    &__list {
        display: flex;
        gap: 80px;
        flex-wrap: wrap;
        @media (max-width: 673.97px){
            @include adaptivValue(gap, 80 , 30)
        }
       
    }

    &__item {

    }

    &__link {
        font-weight: 400;
        color: inherit;
        span{
            border: 1px solid #3730A3;
            padding: 17px 32px;
            border-radius: 6px;
            color: #3730A3;
            @media (max-width: 673.97px){
                @include adaptivValue(padding, 17 , 8)
            }
            &:hover{
                background-color: #3730A3;
                color: #FFFFFF;
            }
        }
        &:hover{
            color: #3730A3;
        }
    }
}
/*--------------------------------.main-block----------------------------------------------------*/
.page {

    &__main-block {
        padding-top: 102px;
        padding-bottom: 198px;
        @media (max-width: 1239.97px){
            @include adaptivValue(padding-top, 102 , 20);
            @include adaptivValue(padding-bottom, 198 , 50);
        }
      
    }
}
.main-block {

    &__container {
       
      
    }
    &__body{
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        position: relative;

        @media (min-width: 1240px){
            display: flex;
            column-gap: 80px;
              
        }
        @media (max-width: 1239.97px){
            &:hover .main-block__image{
                transform: rotateY(0deg);
                z-index: 2;
            }
            &:hover .main-block__container{
                transform: rotateY(180deg);
                z-index: -1;
            }     
        }

    }

    &__content {
        padding-top: 20px;
        @media (max-width: 1239.97px){
            z-index: 1;
            position: relative;
            background-color: cyan;
            height: 100%;
            text-align: center;
            backface-visibility: hidden;
            transition: transform .3s cubic-bezier(.2,.85,.4,1.275);
        }  
    }

    &__name {
        color: #4338CA;
        font-size: 20px;
        line-height: 1.4;
        font-weight: 500;
        &:not(:last-child){
            margin-bottom: 40px;
            @include adaptivValue(margin-bottom, 40 , 10);
        }
        &::before{
        content: '';
           width: 102px;
           height: 1px;
           background-color: #4338CA;
           display:inline-block;
           vertical-align: middle;
           margin-right: 10px;
           @media (max-width: 768px){
            @include adaptivValue(width, 102 , 50);
            }
        }
        @media (min-width: 1240px){
            padding-left: 112px;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 72px;
        line-height: 1;
        color: #1F2937;
        
        &:not(:last-child){
            margin-bottom: 40px;
        }
        @media (max-width: 768px){
            @include adaptivValue(font-size, 72 , 53);
        }
        @media (min-width: 1240px){
            max-width: 596px;
        }

    }

    &__text {
        
        @media (min-width: 1240px){
            max-width: 535px;
        }
        &:not(:last-child){
            margin-bottom: 40px;
        }
        @media (max-width: 768px){
            @include adaptivValue(font-size, 18 , 16);
        }
    }

    &__buttons {
        display: flex;
        gap: 20px;
        @media (max-width: 768px){
            @include adaptivValue(font-size, 18 , 16);
        }
        @media (max-width: 1239.97px){
            justify-content: space-around;
        }

    }

    &__epigraph {
        &::before{
            content: '';
            
            height: 1px;
            background-color: #6B7280;
            display: block;
            margin: 20px 0;
            @media (min-width: 1240px){
                width: 622px;
            } 
        }
        @media (max-width: 768px){
            @include adaptivValue(font-size, 18 , 16);
        }
 
        &:not(:last-child){
            margin-bottom: 21px;
        }
    }

    &__image {//back
       
        
        @media (max-width: 1239.97px){
            z-index: 0;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            backface-visibility: hidden;
            transform: rotateY(-180deg);
            transition: transform .3s cubic-bezier(.2,.85,.4,1.275);
            background-color: #FFFFFF;
        }

        img{
            width: 100%;
            height: 100%;
            @media (max-width: 1239.97px){
                object-fit: none;
                overflow: hidden; 
            }
        }
    }
}
.buttons {

    &__button {
        font-weight: 500;
        padding: 12px 32px;
        min-height: 52px;
        text-align: center;
        border-radius: 6px;
        &:hover{
            background-color: #3730A3;
            color: #FFFFFF;
        }
    }
    
}
.buttons__button_1{
    background-color: #3730A3;
    color: #FFFFFF;
    &:hover{
        background-color: #4339ca;
    }
}

/*------------------------------------------------------services----------------------------------------------------------------*/
.page {

    &__services {
        padding-bottom: 150px;
        @media (max-width: 1239.97px){
            @include adaptivValue(padding-bottom, 150 , 30)
        }
    }
}
.services {

    &__container {
    }

    &__top {
        margin-bottom: 150px;;
        @media (min-width: 1210px){
            max-width: 1039px;
            margin-left: 70px;
        }
        @media (max-width: 1209.97px){
            @include adaptivValue(margin-bottom, 150 , 30)
        }
    }

    &__title {
        text-align: center;
        font-weight: 600;
        font-size: 48px;
        line-height: 1;
        color: #1F2937;
        span{
            color: #3730A3;
        }
        @media (max-width: 1209.97px){
            @include adaptivValue(font-size, 48 , 36)
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        
        @media (max-width: 1209.97px){
            justify-content: center;
        }
        @media (min-width: 1160px){
            gap: 50px;
        }
    }
}
.content-services {

    &__image {
       
        img{
            width: 100%;
            height: 100%;
        }
       
 
    }

    &__categorys {
        padding: 45px 0;
        display: grid;
        gap: 68px;
        @media (min-width: 737px){
            grid-template-columns: 311px 311px;
            grid-auto-rows: 137px;   
        }
        @media (max-width: 736.97px){
            @include adaptivValue(gap, 68 , 20);
            @include adaptivValue(padding-top, 45 , 20);
            @include adaptivValue(padding-bottom, 45 , 0);
        }
}
}
.categorys {

    &__item {
     
    }
}
.item-categorys {
    & *:not(:last-child){
        margin-bottom: 20px;
        @media (max-width: 736.97px){
            @include adaptivValue(margin-bottom, 20 , 10);
        }
    }

    &__title {
        font-weight: 600;
        color: #1F2937;

    }

    &__text {
        font-size: 12px;
        line-height: 1.33;
    }

    &__link {
        font-size: 12px;
        line-height: 1.33;
        color: #3730A3;
        position: relative;
        &::after{
            content: "→";
            display: inline-block;
            margin-left: 5px;
            position: absolute;
            top: 50%;
            //left: 100%;
            transform: translateY(-50%);
        }
    }
}
/*-------------------------------brands--------------------------------------------------------------------*/
.page {

    &__brands {
        background: #FEF2F2;
    }
}
.brands {

    &__container {
       
    }

    &__text {
        font-size: 20px;
        line-height: 1.4;
        color: #9CA3AF;
        padding-top: 100px;
        margin-bottom: 20px;
        @media (max-width: 1213.97px){
              @include adaptivValue(padding-top, 100 , 20 );
        }
    }

    &__items {
        padding-bottom: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        @media (max-width: 559.97px){
            justify-content: center;
            @include adaptivValue(padding-bottom, 100 , 20 );
        }
    }

    &__item {
    }
}

/*-----------------------------gallery---------------------------------------------------*/
.page {

    &__gallery {
        padding: 150px 0;
        @media (max-width: 1213.97px){
            @include adaptivValue(padding-top, 150 , 30 );
            @include adaptivValue(padding-bottom, 150 , 30 );
      }
    }
}
.gallery {

    &__container {
    }

    &__top {
    }

    &__title {
        font-weight: 600;
        font-size: 48px;
        line-height: 1;
        text-align: center;
        color: #1F2937;
        max-width: 1039px;
        margin-bottom: 150px;
        @media (max-width: 1209.97px){
            @include adaptivValue(font-size, 48 , 36);
            @include adaptivValue(margin-bottom, 150 , 30);
        }
    }

    &__contents {
        display: grid;
        //grid-template-columns: 619px 536px;
        //grid-template-rows: repeat(3, auto);
        gap: 30px;
        @media (max-width: 1209.97px){
            @include adaptivValue(gap, 30 , 5);
            
        }
    }

    &__item {
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &_row {
            grid-row: span 2;
            position: relative;
         

        }

        &_column {
            grid-column: span 2;
        }
    }

    &__body {
      
        position: absolute;
        bottom: 0;
        left: 0;
        
        @media (min-width: 550px){
            padding: 21px;
        }
    }
}
.body-gallery {

    &__text {
        display: inline-block;
        background-color: #FFFFFF;
        padding: 23px 325px 23px 27px;
        font-weight: 500;
        position: relative;
        &::after{
            @media (min-width: 550px){
                content: '→';
                font-size: 30px;
                position: absolute;
                bottom: 50%;
                right: 32px;
                transform: translateY(50%);
            } 
        }
        @media (max-width: 1209.97px){
            @include adaptivValue(font-size, 18 , 12);
            @include adaptivValue(padding-top, 23 , 12);
            @include adaptivValue(padding-right, 325 , 5);
            @include adaptivValue(padding-bottom, 23 , 12);
            @include adaptivValue(padding-left, 27 , 12);
        }
        @media (max-width: 549.97px){
            background-color: rgba(255, 255, 255, 0.5);
        }
     
    }

    &__title {
        color: #1F2937;
   
       
    }

    &__epigraph {
        font-size: 14px;
        line-height: 1.43;
        color: #9CA3AF;
        @media (max-width: 1209.97px){
            @include adaptivValue(font-size, 14 , 10);
        }
      
    }
}
/*--------------------------------why----------------------------------------------------*/
.page {

    &__why {
        padding-bottom: 133px;
        @media (max-width: 1209.97px){
            @include adaptivValue(padding-bottom, 133 , 30);
        }
    }
}
.why {

    &__container {
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 83px;
        @media (max-width: 1209.97px){
            @include adaptivValue(gap, 83 , 20);
        }
        @media (max-width: 767.97px){
            grid-template-columns: repeat(2, auto);
        }
        @media (max-width: 424.97px){
            grid-template-columns: repeat(1, auto);
        }
        
    }

    &__item {
        display: grid;
        text-align: center;
        justify-items: center;
        
    }
}
.item-why {

    &__icon {
        background: #EEF2FF;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 140px;
        height: 140px;
        &:not(:last-child){
            margin-bottom: 40px;
            @media (max-width: 1209.97px){
                @include adaptivValue(margin-bottom, 40 , 15)
            }
        }
    }

    &__title {
        color: #374151;
        font-weight: 600;
        font-size: 30px;
        line-height: 1.2;
        &:not(:last-child){
            margin-bottom: 20px;
            @media (max-width: 1209.97px){
                @include adaptivValue(margin-bottom, 20 , 10)
            }
        }
        @media (max-width: 1209.97px){
            @include adaptivValue(font-size, 30 , 24)
        }
    }

    &__tetx {
        color: #9CA3AF;
        @media (max-width: 1209.97px){
            @include adaptivValue(font-size, 18 , 16)
        }
    }
}
/*--------------------------------careers---------------------------------------------------------*/
.page {

    &__careers {
        padding-bottom: 166px;
        @media (max-width: 1209.97px){
            @include adaptivValue(padding-bottom, 166 , 30)
        }
    }
}
.careers {

    &__container {
    }

    &__title {
        text-align: center;
        font-weight: 600;
        font-size: 48px;
        line-height: 1;
        color: #1F2937;
        &:not(:last-child){
            margin-bottom: 150px;
            @media (max-width: 1209.97px){
                @include adaptivValue(margin-bottom, 150 , 25);
                @include adaptivValue(font-size, 48 , 36);
            }
        }

    }

    &__items {
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: 16px;
        line-height: 1.5;
        color: #6B7280;

        &:not(:last-child){
            margin-bottom: 80px;
            @media (max-width: 1209.97px){
                @include adaptivValue(margin-bottom, 80 , 20)
            }
        }

        @media (max-width: 549.97px){
            @include adaptivValue(font-size, 16 , 14)
        }

    }
}
.item-careers {
    
    &_1{
        font-weight: 500;
    }

    &__company {
        span{
            color: #1F2937;
            font-weight: 600;

        }
    }

    &__position {
    }

    &__year {
    }
}
/*-------------------------footer------------------------------------*/
.footer {
    background-color: #FEF2F2;

    &__container {
        max-width: 663px;
        text-align: center;
        padding: 110px 0;
        @media (max-width: 1209.97px){
            @include adaptivValue(padding-bottom, 110 , 30);
            @include adaptivValue(padding-top, 110 , 30);
        }
    }

    &__title {
        font-weight: 500;
        font-size: 48px;
        line-height: 1;
        color: #374151;
      
        &:not(:last-child){
            margin-bottom: 20px;
        }
        @media (max-width: 1209.97px){
            @include adaptivValue(font-size, 48 , 36);
   
        }
    }

    &__text {
        padding: 0 10px;
       color: #9CA3AF;
       &:not(:last-child){
        margin-bottom: 100px;
        @media (max-width: 1209.97px){
            @include adaptivValue(font-size, 18 , 16);
            @include adaptivValue(margin-bottom, 100 , 20);
   
        }
    }
      
      
    }

    &__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
     
    }

    &__item {
       
    }
}

